* {
    margin: 0px;
    border-style: border-box;
}
img {
    height: 300px;
    width: 800px;
}

header {
    background-color: #E5B69C;
    height: 65px;
    width: 100%;
}

.main {
    margin: 30px 0;
}
.container {
    width: 1173px;
    margin: 0 auto;
}

.main-content {
    display: flex;

}

.text {
    background-color: #D4CA69;
    height: 435px;
    width: 30%;
}

.pic {
    background-color: #F4A2A2;
    height: 435px;
    width: 70%;
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 729px;
        margin: 0 auto;
    }
    .text {
        width: 50%;
    }
    .pic {
        width: 50%;
    }
}

@media screen and (max-width: 790px) {
    .container  {
        width: 350px;
        margin: 0 auto;
    }
    .main-content {
        flex-direction: column;
    }
    .pic {
        width: 100%;
    }
    .text {
        width: 100%;
    }
} 



.blue-box {
    display: flex;
}

.blue1{
    width: 282px;
    height: 259px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #69C8D4;
}


.blue2{
    width: 282px;
    height: 259px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #69C8D4;
}

.blue3{
    width: 282px;
    height: 259px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #69C8D4;
}
.blue4 {
    width: 282px;
    height: 259px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #69C8D4;
    
}
@media screen and (max-width: 1200px) {
    .blue-box {
        display: flex;
        flex-direction: column;
    }
    .blue1 {
        width: 100%;
    }
    .blue2 {
        width: 100%;
    }
    .blue3 {
        width: 100%;
    }
}

@media screen and (max-width: 790px) {
    .container  {
        display: flex;
        flex-wrap: wrap;
    }
    .blue-box {
        flex-direction: column;
    }
    .blue1 {
        width: 50%;
    }
    .blue2  {
        width: 50%;
    }
    .blue3  {
        width: 50%;
    }
} 
